/* Edits */
@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container { 
    display: grid;
    grid: 1fr / 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "sidebar main-content";
} 

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    
}

.sidebar-middle, .sidebar-bottom {
    display: flex;
    flex-direction: column;
}

.dashboard, .sidebar-middle > div, .sidebar-bottom > div {
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 1.2rem;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid: 1fr 5fr / 1fr;
    grid-template-areas: 
    "top-content"
    "bot-content";
}

.top-content {
    grid-area: top-content;
    display: grid;
    grid: 1fr 1fr / 1fr;
    grid-template-areas:
    "search-and-profile"
    "intro-and-buttons";
}

.search-and-profile {
    grid-area: search-and-profile;
    display: flex;
    justify-content: space-between;
}

.search-side {
    display: flex;
    /* gap: 10px; */
}

.profile-side {
    display: flex;
}

.intro-and-buttons {
    grid-area: intro-and-buttons;
    display: flex;
    justify-content: space-between
}

.intro {
    display: flex;
}

.intro-hi {
    display: flex;
    flex-direction: column;
}

.main-btns {
    display: flex;
    justify-content: flex-end;
}

.bot-content {
    grid-area: bot-content;
    display: grid;
    grid: 1fr / 3fr 1fr;
    grid-template-areas: 
    "projects recent-news";
}

.projects {
    grid-area: projects;
    display: grid;
    grid: 1fr 15fr / 1fr;
    grid-template-areas: 
    "projects-heading"
    "projects-cards";
}

.projects-heading {
    grid-area: projects-heading;
    /* display: flex; */
    justify-self: center;
}

.projects-cards {
    grid-area: projects-cards;
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    justify-items: center;
}

.projects-links {
    display: flex;
    justify-content: flex-end;
}

.recent-news {
    grid-area: recent-news;
    display: grid;
    grid: 1fr 1fr / 1fr;
}


